<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
   <h1><%=book.Poster%></h1>
   <h1><%=book.Name%></h1>
   <h1><%=book.Author%></h1>
   <h1><%=book.Price%></h1>
   <h1><%=book.Isbn%></h1>
   <h1><%=book.description%></h1>
   <br>
   <a href="/update/<%=book._id%>">update</a><br> <br>
   <a href="/delete/<%=book._id%>">delete</a><br> <br>
    
   
    
</body>
</html>