<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <a href="/create">create</a>
<br><br><br><br><br>
<% allBook.forEach((data)=> {%>

<h1>POSTER-URL-<%= data.Poster%></h1>
<h1>Name-<%= data.Name%></h1>
<h1>Author-<%= data.Author%></h1>
<h1>Price-<%= data.Isbn%></h1>
<h1>Isbn-<%= data.Price%></h1>
<h1>description-<%= data.description%></h1>
<a href="/explore/<%=data._id%>">explore</a>
<% }) %>
  
</body>
</html>
