<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update/<%=books._id%>" method="post">
        <input value="<%=books.Poster%>" type="text" placeholder="POSTER-URL" name="Poster"><br> <br>
        <input value="<%=books.Name%>"  type="text" placeholder="Book-Name" name="Name"><br> <br>
        <input value="<%=books.Author%>"  type="text" placeholder="Author" name="Author"><br> <br>
        <input value="<%=books.Isbn%>"  type="number" placeholder="price" name="Price"><br><br>
        <input value="<%=books.Price%>"  type="text" placeholder="ISBN NO>" name="Isbn"><br><br>
        <textarea value="<%=books.description%>"  name="description"></textarea>

        <br> <br>  
        <button>update</button>

         
    </form>
    
</body>
</html>